.box{
  
  width: 550px;
  min-height: 597px;
  background-color: var(--grey-light-super);
  border-radius: 5px;
  padding: 20px 50px;
}
@media (max-width:550px) {
  .box{
    width: 100%;
    min-width: 320px;
  }
}
